site_name: OpenMRF Documentation
site_url: https://tomgriesler.github.io/openmrf_documentation/
repo_url: https://github.com/HarmonizedMRI/OpenMRF
repo_name: HarmonizedMRI/OpenMRF
theme: 
  name: material
  logo: assets/fingerprint.png
  favicon: assets/fingerprint.png
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - toc.integrate
  palette: 
    # light mode
    - scheme: default
      primary: orange
      accent: indigo
      toggle:
        icon: material/theme-light-dark
        name: Switch to dark mode
    # dark mode
    - scheme: slate
      primary: orange
      accent: indigo
      toggle:
        icon: material/theme-light-dark
        name: Switch to light mode

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - md_in_html
  - pymdownx.blocks.caption

extra:
  social:
    - icon: fontawesome/brands/linkedin
      name: Tom Griesler's LinkedIn
      link: https://www.linkedin.com/in/tomgriesler/
    - icon: fontawesome/brands/github
      name: Tom Griesler's GitHub
      link: https://github.com/tomgriesler
    - icon: fontawesome/regular/envelope
      name: Email Tom Griesler
      link: mailto:tomgr@med.umich.edu

copyright: Copyright &copy; 2025 Tom Griesler

nav:
  - Home: index.md
  - Quickstart guide: quickstart.md