:root > * {
  /* --md-primary-fg-color: #FFA500; */
  --md-primary-fg-color: #ffa00f;
  --md-accent-fg-color: #3a79ac;
}

/* Active tab indicator */
.md-tabs__item--active {
  border-bottom: 4px solid var(--md-accent-fg-color);
}

/* Increase site name font size */
/* .md-header__title { */
  /* font-size: 30px;   /*Adjust as needed */
/* } */